{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    "babel/no-await-in-loop": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "no-trailing-spaces": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 0,
    "no-underscore-dangle": 0,
    "no-unreachable": 2,
    // ES6 imports
    "import/default": 2,
    "import/export": 2,
    "import/imports-first": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/no-duplicates": 2,
    "import/no-named-as-default": 0,
    "import/no-require": 2,
    "import/no-unresolved": 2
  },
  "plugins": [
    "import",
    "babel",
    "react"
  ]
}
